@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

*::-webkit-scrollbar{
    display: none;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    background: yellow;
}

.container{
   top: 0;
   left: 0;
}

.container .background{
    position: relative;
    top: 100px;
    height: 400px;
    width: 300px;
    background: red;
    border-radius: 4px;
    margin: 15px;
}

.container .background .button-x,
.container .background .button-y, 
.container .background .button-z, 
.container .background .button-v{
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
    background: yellow;
    color: black;
    left: 125px;
    bottom: 20px;
    border: none;
    outline: none;
    font-size: 30px;
    padding: 10px 30px 10px 30px;
    border-radius: 8px;
    cursor: pointer;
}

.container .background.show-menu .button-x,
.container .background.show-menu .button-y, 
.container .background.show-menu .button-z, 
.container .background.show-menu .button-v{
    z-index: 999;
    top: 215px;
    left: 110px;
    background: red;
    color: white;
}

.container .background.show-menu .button-x::after,
.container .background.show-menu .button-y::after, 
.container .background.show-menu .button-z::after, 
.container .background.show-menu .button-v::after{
    content: "lại";
}

.container .background .item .random-text{
    position: relative;
    left: 30px;
    bottom: 330px;
    border: none;
    background: yellow;
    color: red;
    font-size: 50px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    height: 360px;
    width: 290px;
    border-radius: 8px;
    display: none;
}

.container .background .item .random-text span{
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
}

.container .background .item .random-text input{
    font-family: 'Nunito Sans', sans-serif;
    padding: 10px 0px;
    background: yellow;
    color: red;
    font-weight: 900;
    font-size: 20px;
    border-radius: 8px;
    text-align: center;
}

.container .background.show-menu .item .random-text{
    transition: all 1s ease;
    display: block;
}

.container .background .text-item{
    width: 300px;
    text-align: center;
}

.container .background .text-item p{
    position: relative;
    left: 30px;
    color: yellow;
    font-family: 'Dancing Script', cursive;
    font-size: 18px;
    font-weight: 900;
}

.container .background .text-item img{
    position: relative;
    left: 30px;
    height: 100px;
    width: 220px;
}

.container .background .top-item {
    border-radius: 4px;
    width: 200px;
    height: 0;
    border-left: 177px solid transparent;
    border-right: 177px solid transparent;
    border-top: 100px solid #cc0000;
}

@keyframes example {
    0% {
        background-color: #fbcf61;
        color: black;
    }
    20% {
        background-color: #fbcf65;
        color: black;
    }
    40% {
        background-color: #ff6f6f;
        color: black;
    }
    60% {
        background-color: #57cff4;
        color: black;
    }
    80% {
        background-color: #0ed4c8;
        ccolor: black;
    }
    100% {
        background-color: #fbcf61;
        color: black;
    }
}

.row{
    display: flex;
}

.row-3{
    display: flex;
    width: 25%;
}

.row-6{
    display: flex;
    width: 50%;
}

.row-9{
    display: flex;
    width: 75%;
}

.row-12{
    display: flex;
    width: 100%;
}

.col-3{
    flex: 25%;
}

.col-6{
    flex: 50%;
}

.col-9{
    flex: 75%;
}

.col-12{
    flex: 100%;
}